#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg)
}

:root {
    --primary-color: #062e93;
    --secondary-color: #eaeefc;
    --main-bg: #f8f8f8;
    --white: #fff;
    --gray: rgba(0, 0, 0, 0.04);
}